<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- IndexPerformanceComparisonTest 로그를 INFO 레벨로 출력 -->
    <logger name="io.hhplus.ecommerce.support.performance.IndexPerformanceComparisonTest" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- P6Spy 로그도 출력 -->
    <logger name="p6spy" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>